# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
# The Spreadsheet ID where data will be saved
GOOGLE_SPREADSHEET_ID=
# Direct Google Apps Script Web App URL
GOOGLE_APPS_SCRIPT_URL=
